exportPattern("^[^\\.]")
import (data.table)
import (MASS)
import (ggplot2)
import (annotate)
import (org.Hs.eg.db)
import (GO.db)
import (RColorBrewer)
import (samr)
import (jetset)
importFrom (jetset, scores.hgu133a, scores.hgu133plus2, scores.hgu95av2, scores.u133x3p)
